//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Fri 03 24 15:33:49 2023

IO_LOC "test" 68;
IO_PORT "test" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "Reconfig" 9;
IO_PORT "Reconfig" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led[5]" 16;
IO_PORT "led[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[4]" 15;
IO_PORT "led[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[3]" 14;
IO_PORT "led[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[2]" 13;
IO_PORT "led[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[1]" 11;
IO_PORT "led[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[0]" 10;
IO_PORT "led[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "LRCK" 77;
IO_PORT "LRCK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "MCK" 74;
IO_PORT "MCK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "BCK" 73;
IO_PORT "BCK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DOUT" 76;
IO_PORT "DOUT" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2c_sda" 48;
IO_PORT "i2c_sda" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "i2c_scl" 49;
IO_PORT "i2c_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Reset_Button" 4;
IO_PORT "Reset_Button" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "adc_data[11]" 37;
IO_PORT "adc_data[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[10]" 36;
IO_PORT "adc_data[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[9]" 39;
IO_PORT "adc_data[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[8]" 25;
IO_PORT "adc_data[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[7]" 26;
IO_PORT "adc_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[6]" 27;
IO_PORT "adc_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[5]" 28;
IO_PORT "adc_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[4]" 29;
IO_PORT "adc_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[3]" 30;
IO_PORT "adc_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[2]" 33;
IO_PORT "adc_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[1]" 34;
IO_PORT "adc_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_data[0]" 40;
IO_PORT "adc_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "sck" 35;
IO_PORT "sck" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "adc_overrange" 38;
IO_PORT "adc_overrange" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
CLOCK_LOC "sck_d" BUFG = CLK;
